<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Dog Trainee</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid class="table">
    <ion-row class="head">
      <ion-col col-12>
        <img src="assets/imgs/dogbreed-head.png" />
        <h2>Training</h2>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list>
    <ion-item *ngFor="let item of Playlist; index as i" (click)="playVideo(item)">
      <ion-avatar item-start>
        <img [src]="item.thumbnails.default.url">
      </ion-avatar>
       <h2>Lesson-{{i+1}}</h2>
      <p>{{item.title}}</p> 
    </ion-item>
  </ion-list>
</ion-content>
