<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content padding>
  <img src="assets/imgs/walking_a_dog-11.jpg" class="login-img"/>
  <button ion-button class="btn btn-g" (click)="loginGoogle()"></button>
  <button ion-button class="btn btn-fb" (click)="loginFacebook()"></button>
</ion-content>
