page-login {
    img.login-img{
        display: block;
        margin: 80px auto;
        width: 100px;
    }
    button.btn{
        display: block;
        width: 190px;
        background-size: 100%;
        margin: 15px auto;
    }
    button.btn.btn-g{
        background-image: url("/assets/imgs/sign-in-button_google.png");
    }
    button.btn.btn-fb{
        background-image: url("/assets/imgs/sign-up with facebook.png");
    }
}
