<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Dog Trainee
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <h3>Healthy Foods</h3>
  <div *ngFor="let item of foodslist">
    <ion-thumbnail item-start>
      <img src="{{item.url}}">
    </ion-thumbnail>
    <p>{{item.discription}}</p>
  </div>
</ion-content>
