<!--
  Generated template for the PlayPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Dog Trainee</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="card-background-page">

  <p class="text-center">{{video.title}}</p>
  <h2 class="text-center">Lesson-{{video.position + 1}}</h2>
  <ion-card  (click)="openUrl()">
    <img [src]="video.thumbnails.default.url"/>
    <div class="card-title">
      <ion-icon name="logo-youtube"></ion-icon>
    </div>
  </ion-card>
  <p>{{video.description}}</p>
</ion-content>
