page-play {
    h2{
        font-size: 1.9rem;
        margin-bottom: 40px;
    }
    p{
        text-align: justify;
        padding: 10px;
    }
    .text-center{
        text-align: center;
    }
    iframe{
        border: 2px solid #52a594;
        padding: 5px;

    }
    ion-card .card-title ion-icon{
       display: block;
        width: 100%;
        color: red;
        margin-top: -60px;
        font-size: 60px;
        text-align: center;
    }
}
