<!--
  Generated template for the EditprofilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Dog Trainee</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card>
    <img src="{{ClientObj.imageUrl}}"/>
    <ion-row no-padding>
      <ion-col>
        <button ion-button clear small color="danger" icon-start (click)="takePhoto(0)">
           <ion-icon name="camera"></ion-icon>
            change
        </button>
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-list>

    <ion-item>
      <ion-label floating>Name</ion-label>
      <ion-input type="text"  [(ngModel)]="ClientObj.name" name="name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Email</ion-label>
      <ion-input type="text"  [(ngModel)]="ClientObj.email" name="email"></ion-input>
    </ion-item>
  </ion-list>
  <button ion-button  outline (click)="save()">Save</button>
</ion-content>
