page-home {
    .table{
        margin-top: 20vh;
    }
    .table ion-col img{
        width: 50%;
        margin: 0 auto;
        display: block;
    }
    .table ion-col h2{
        font-size: 1.7rem;
        text-align: center;
        color: #a17e7e;
    }
}
