<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Dog Trainee</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid class="table">
    <ion-row>
      <ion-col col-6 (click)="goToCategoriesPage()">
        <img src="assets/imgs/dogbreed.png" />
        <h2>Dog Breed</h2>
      </ion-col>
      <ion-col col-6 (click)="goTotrainingPage()">
        <img src="assets/imgs/dogtraining.png" />
        <h2>Training</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6 (click)="goToDietPage()">
        <img src="assets/imgs/dogfood.png" />
        <h2>Diet Plan</h2>
      </ion-col>
      <ion-col col-6 (click)="goToDietSugPage()">
        <img src="assets/imgs/dietchart.png" />
        <h2>Diet Sugession</h2>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
