page-categories {    
    .table .head ion-col{
        text-align: center;
        border-bottom: 2px dotted #a17e7e;
        padding-bottom: 20px;
    }
    .table .head ion-col img,
    .table .head ion-col h2{
        display: inline-block;
    }
    .table .head ion-col img{
        width: 60px;
        vertical-align: -10px;
    }
    .item-md{
        margin-bottom: 12px;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    }
    .item-md h2{
        font-weight: bold
    }
    .list-md .item-block .item-inner{
        border: none;
    }
}
