<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Dog Breeds</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid class="table">
    <ion-row class="head">
      <ion-col col-12>
        <img src="assets/imgs/dogbreed-head.png" />
        <h2>Dog Breed</h2>
      </ion-col>
    </ion-row>
  </ion-grid>
   <ion-list>
    <ion-item *ngFor="let item of Breedlist; index as i">
      <ion-avatar item-start  (click)="viewBreed(item)">
        <img [src]="item.url">
      </ion-avatar>
      <h2 (click)="viewBreed(item)">{{item.name}}</h2>
      <p (click)="viewBreed(item)">{{item.discription}}</p>
      <ion-icon name="trash" item-end (click)="deleteBreed(item.id)"></ion-icon>
      <ion-icon name="create" item-end  (click)="editBreed(item)"></ion-icon>
    </ion-item>
  </ion-list> 
   <ion-fab bottom right>
    <button (click)="addBreed()" ion-fab mini><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
