.toolbar-background-md{
    background: #707070;
}
.toolbar-title-md{
    color:#fff;
    text-align: right;
}
.dp.card-md{
    margin: 0 auto;
    background: #b8adad;
    width: 100%;
    border-radius: 0;
}
.dp.card-md img{
    width: 50%;
    margin: 18px auto;
    border-radius: 100%;
}
.dp.card-md .card-title-md{
    color: #fff;
    text-transform: capitalize;
}
.dp.card-md .card-title-md img{
    width: 40px;
    display: inline;
    margin: 0;
    float: right;
}
.content-md{
    background-image: url(/assets/imgs/clipart2675107.png);
    background-size: 100%;
}
.bar-button-menutoggle-md ion-icon{
    color: #fff;
}