<ion-menu [content]="content" [hidden]="!ClientObj.login">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-card class="dp">
      <img src="{{ClientObj.imageUrl}}"/>
      <ion-card-content>
        <ion-card-title>
          {{ClientObj.name}}
          <img src="assets/imgs/setting.png" (click)="settingPage()"/>
          </ion-card-title>
      </ion-card-content>
    </ion-card>
    <ion-list>
      <ion-item *ngFor="let item of pages" (click)="openPage(item)">
        <ion-avatar item-start>
          <img src="{{item.url}}">
        </ion-avatar>
        <h2>{{item.title}}</h2>
      </ion-item>      
      <ion-item (click)="logout()">
        <ion-avatar item-start>
          <img src="assets/imgs/logout.png">
        </ion-avatar>
        <h2>Logout</h2>
      </ion-item>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>