page-diet {
    
    .table ion-col img{
        width: 50%;
        margin: 0 auto;
        display: block;
    }
    .table ion-col h2{
        font-size: 1.7rem;
        text-align: center;
        color: #a17e7e;
    }
    .table .head ion-col{
        text-align: center;
        border-bottom: 2px dotted #a17e7e;
        padding-bottom: 20px;
    }
    .table .head ion-col img,
    .table .head ion-col h2{
        display: inline-block;
    }
    .table .head ion-col img{
        width: 60px;
        vertical-align: -10px;
    }
}
