<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Dog Trainee
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid class="table">
    <ion-row class="head">
      <ion-col col-12>
        <img src="assets/imgs/dogfood-head.png" />
        <h2>Diet Plan</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12  (click)="gotoHowMuchfeeds()">
        <img src="assets/imgs/Best-Dog-Food.jpg" />
        <h2>Perfect Diet</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12 (click)="gotoHealthyFoods()">
        <img src="assets/imgs/healthy_food.jpg" />
        <h2>Healthy Foods</h2>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
