<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Dog Trainee
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <h3>Perfect Diet</h3>
  <div *ngFor="let item of foodslists">
    <h4>{{item.title}}</h4>
    <p>{{item.discription}}</p>
  </div>
</ion-content>
