page-breeds {
    p span{
        display: inline-table; 
        width: calc(100% - 105px);
        padding-left: 5px;
    }
    p strong{
        min-width: 100px;
        display: inline-table;
    }
    p.margin-top-20px{
        margin-top: 20px;
    }
    ion-card{
        background: transparent !important;
        box-shadow: none !important;
    }
    ion-card img{
        border-radius: 50px;
    }
    ion-card-title{
        color: #454444 !important;
        text-align: center;
        font-weight: bold;
    }
}
