<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      ABOUT DOG BREED
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-card>
      <img src="{{dog.url}}"/>
      <ion-card-content>
        <ion-card-title>
          {{dog.name}}
        </ion-card-title>
        <p><strong>LIFE SPAN :</strong><span> {{dog.lifespan}}</span></p>
        <p><strong>TEMPERMENT :</strong><span> {{dog.temperment}}</span></p>
        <p><strong>HEIGHT :</strong><span> {{dog.height}}</span></p>
        <p><strong>WEIGHT :</strong><span> {{dog.weight}}</span></p>
        <p><strong>COLOR :</strong><span> {{dog.color}}</span></p>
        <p><strong>ORIGIN :</strong><span> {{dog.origin}}</span></p>
        <p class="margin-top-20px">
          {{dog.discription}}
        </p>
      </ion-card-content>
    </ion-card>
</ion-content>
