<!--
  Generated template for the DietsugessionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Dog Trainee</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<ion-list>
  <ion-item>
    <ion-label>Select Age</ion-label>
    <ion-select [(ngModel)]="selectedPlan" (ionChange)="getData()">
      <ion-option  *ngFor="let item of dietPlan" value="{{item.age}}">{{item.age}}</ion-option>
    </ion-select>
  </ion-item>
</ion-list>
 <ion-grid>
  <ion-row class="head">
    <ion-col col-6>Schedule</ion-col>
    <ion-col col-6>Plan</ion-col>
  </ion-row>
  <ion-row *ngFor="let item of showPlan.diet">
    <ion-col col-6>{{item.timespan}}</ion-col>
    <ion-col col-6>{{item.plan}}</ion-col>
  </ion-row>
</ion-grid> 
</ion-content>
