page-dietsugession {
    ion-grid{
        background: #fff;
        margin-top: 50px;
        box-shadow: 0 0 2px rgba(0,0,0,0.3);
    }
    ion-grid ion-row.head ion-col{
        font-weight: bold;
    }
}
