<!--
  Generated template for the AddBreedPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Dog Trainee</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card>
    <img src="{{breedObj.url}}"/>
    <ion-row no-padding>
      <ion-col>
        <button ion-button clear small color="danger" icon-start (click)="takePhoto(0)" *ngIf="mode">
           <ion-icon name="camera"></ion-icon>
            change
        </button>
        <button ion-button clear small color="danger" icon-start (click)="takePhoto(0)" *ngIf="!mode">
           <ion-icon name="camera"></ion-icon>
            Add Photo
        </button>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-list>

    <ion-item>
      <ion-label floating>Name</ion-label>
      <ion-input type="text"  [(ngModel)]="breedObj.name" name="name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Discription</ion-label>
      <ion-input type="text"  [(ngModel)]="breedObj.discription" name="discription"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Life Span</ion-label>
      <ion-input type="text"  [(ngModel)]="breedObj.lifespan" name="lifespan"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Temperment</ion-label>
      <ion-input type="text"  [(ngModel)]="breedObj.temperment" name="temperment"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Height</ion-label>
      <ion-input type="text"  [(ngModel)]="breedObj.height" name="height"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Weight</ion-label>
      <ion-input type="text"  [(ngModel)]="breedObj.weight" name="weight"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Colors</ion-label>
      <ion-input type="text"  [(ngModel)]="breedObj.colors" name="colors"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Origin</ion-label>
      <ion-input type="text"  [(ngModel)]="breedObj.origin" name="origin"></ion-input>
    </ion-item>

  </ion-list>
  <button ion-button  outline (click)="add()" *ngIf="!mode">ADD</button>
  <button ion-button  outline (click)="save()" *ngIf="mode">Save</button>
</ion-content>
